@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.woff") format('woff'), url("../assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf") format('ttf');
}

@font-face {
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.woff") format('woff'), url("../assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf") format('ttf');
}

@font-face {
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.woff") format('woff'), url("../assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf") format('ttf');
}

[x-cloak] {display: none !important}

.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}